// import font files
@font-face {
	src: url("/src/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
	font-family: "SpaceGrotesk";
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	//font-weight: <weight>;
	font-style: normal;
}
@font-face {
	src: url("/src/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
	font-family: "JetBrainsMonoItalic";
	font-family: "JetBrains Mono Italic", serif;
	font-weight: 200;
	font-style: normal;
}
@font-face {
	src: url("/src/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
	font-family: "JetBrainsMono";
	font-family: "JetBrains Mono", serif;
	font-weight: 200;
	font-style: normal;
}


