  :root{

 /*
		#ff0000 rgba(255, 0, 0, 1)
		#0000ff rgba(0, 0, 255, 1)
		#00ff00 rgba(0, 255, 0, 1)
		#ffff00 rgba(255, 255, 0, 1)
		#00ffff rgba(0, 255, 255, 1)
		#ff00ff rgba(255, 0, 255, 1)

	{ id: 'red',    hex: '#d32f2f' }, // E8637A' },
  { id: 'amber',  hex: '#f57c00' }, // F2B84B' },
  { id: 'lime',   hex: '#afb42b' }, // B7E86E' },
  { id: 'cyan',   hex: '#1976d2' }, // 4FD8E0' },
  { id: 'violet', hex: '#512da8' }, // B08CF0' },
  { id: 'phosph', hex: '#388e3c' }, // 6EE7A8' },

		
*/

		
    --ink:#0B1220;
    --panel:#101a2e;
    --panel-line:#233052;
    --paper:#E7ECF3;
    --dim:#7C89A8;
    --phosphor:#388e3c; // 6EE7A8;
    --amber:#f57c00; // F2B84B;
    --red:#d32f2f; // E8637A;
    --cyan:#1976d2; // 4FD8E0;
    --peg-glow: 0 0 12px currentColor;
  }